{% extends "publicPage/base.html" %}

{% block base %}

{% load static %}


<!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->


<html lang="en">

<!--<head>-->
  <!--&lt;!&ndash; Required meta tags &ndash;&gt;-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <!--<title>码牛科技测试平台</title>-->
  <!--&lt;!&ndash; plugins:css &ndash;&gt;-->
  <!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">&ndash;&gt;-->
  <!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">&ndash;&gt;-->
  <!--&lt;!&ndash; endinject &ndash;&gt;-->
  <!--&lt;!&ndash; plugin css for this page &ndash;&gt;-->
  <!--&lt;!&ndash; End plugin css for this page &ndash;&gt;-->
  <!--&lt;!&ndash; inject:css &ndash;&gt;-->
  <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
  <!--&lt;!&ndash; endinject &ndash;&gt;-->
  <!--&lt;!&ndash;<link rel="shortcut icon" href="{% static 'image/favicon.png' %}" />&ndash;&gt;-->
<!--</head>-->

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-6 mx-auto" style="width: 600px">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <!--<img src="{% static 'image/logo.svg' %}" alt="logo">-->
              <!--<img src="{% static 'image/marknum_logo.png' %}" alt="logo">-->
            </div>
            <h3  style="text-align: center">大数据时代采集系统</h3>
            <!--<h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>-->
            <form class="pt-3" action="/user/register_bigdata/" method="post">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="InputUsername" name="username" placeholder="username">
                <div style="color:red;">
                  <span>{{ username_error }}</span>
                  <span>{{ user_name_uplicate }}</span>
                </div>
              </div>

              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="InputPassword" name="password" placeholder="password">
                <div style="color:red;">
                  <span>{{ password_error }}</span>
                </div>
              </div>
              <div class="form-group">
                <input type="mail" class="form-control form-control-lg" id="InputEmail" name="mail" placeholder="mail">
                <div style="color:red;">
                  <span>{{ mail_error }}</span>
                  <span>{{ mail_uplicate }}</span>
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<select class="form-control form-control-lg" id="exampleFormControlSelect2">-->
                  <!--<option>Country</option>-->
                  <!--<option>United States of America</option>-->
                  <!--<option>United Kingdom</option>-->
                  <!--<option>India</option>-->
                  <!--<option>Germany</option>-->
                  <!--<option>Argentina</option>-->
                <!--</select>-->
              <!--</div>-->
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="InputMobile" name="mobile" placeholder="mobile">
                <div style="color:red;">
                  <span>{{ mobile_error }}</span>
                  <span>{{ mobile_uplicate }}</span>
                </div>
              </div>
              <!--<div class="mb-4">-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label text-muted">-->
                    <!--<input type="checkbox" class="form-check-input">-->
                    <!--I agree to all Terms & Conditions-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
              <div class="mt-3">
                <!--<a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="//www.qq.com">注册</a>-->
                <input class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"  value="注册" />
              </div>
              <div class="text-center mt-4 font-weight-light">
                已有账户，跳转到登录页? <a href="/user/login_bigdata/" class="text-primary">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}

  <!-- plugins:js -->
  <!--<script src="{% static 'js/vendor.bundle.base.js' %}" ></script>-->
  <!--<script src="{% static 'js/off-canvas.js' %}"></script>-->
  <!--<script src="{% static 'js/hoverable-collapse.js' %}"></script>-->
  <!--<script src="{% static 'js/template.js' %}"></script>-->