{% extends "publicPage/base.html" %}

{% block base %}

{% load static %}

<!--<div class="container-fluid">-->
<div class="container-scroller">

    <!--包含common_top.html-->
    {% include "common/common_top.html" %}

    <div class="container-fluid page-body-wrapper">

        <!--包含ipMenuManage.html-->
        {% include "menuPage/pageHomeMenuManage.html" %}

        <!--{#右侧区域-->
        <div class="main-panel">

            <div class="content-wrapper">

                <!--右侧上-->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h3>大数据时代采集系统！！！</h3>
                                    <!--<p class="mb-md-0">Your analytics dashboard template.</p>-->
                                </div>
                                <!--<div class="d-flex">-->
                                    <!--<i class="mdi mdi-home text-muted hover-cursor"></i>-->
                                    <!--<p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>-->
                                    <!--<p class="text-primary mb-0 hover-cursor">Analytics</p>-->
                                <!--</div>-->
                            </div>
                            <!--<div class="d-flex justify-content-between align-items-end flex-wrap">-->
                                <!--<button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">-->
                                    <!--<i class="mdi mdi-download text-muted"></i>-->
                                <!--</button>-->
                                <!--<button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">-->
                                    <!--<i class="mdi mdi-clock-outline text-muted"></i>-->
                                <!--</button>-->
                                <!--<button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">-->
                                    <!--<i class="mdi mdi-plus text-muted"></i>-->
                                <!--</button>-->
                                <!--<button class="btn btn-primary mt-0 mt-xl-0">Generate report</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <!--<div class="row">-->
                    <!--<div class="col-md-12 grid-margin">-->
                        <!--<div class="d-flex justify-content-between align-items-end flex-wrap">-->
                            <!--<button type="button" class="btn btn-primary mt-0 mt-xl-0">按钮</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--蓝色区域-->
                <!--<div class="row d-none" id="proBanner">-->
                    <!--<div class="col-md-12 grid-margin">-->
                        <!--<div class="card bg-gradient-primary border-0">-->
                            <!--<div class="card-body py-3 px-4 d-flex align-items-center justify-content-between flex-wrap">-->
                                <!--<p class="mb-0 text-white font-weight-medium">Get tons of UI components, Plugins, multiple layouts,-->
                                    <!--20+ sample pages, and more!</p>-->
                                <!--<div class="d-flex">-->
                                    <!--<a href="https://www.bootstrapdash.com/product/majestic-admin-pro?utm_source=organic&amp;-->
                                        <!--utm_medium=banner&amp;utm_campaign=free-preview" target="_blank" class="btn btn-outline-light-->
                                        <!--mr-2 bg-gradient-danger border-0">Check Pro Version</a>-->
                                    <!--<button id="bannerClose" class="btn border-0 p-0 ml-auto">-->
                                        <!--<i class="mdi mdi-close text-white"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--面板切换-->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body dashboard-tabs p-0">
                                <!--导航面板-->
                                <ul class="nav nav-tabs px-4" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="szzsss-tab" data-toggle="tab"
                                            href="#szzsss" role="tab" aria-controls="szzsss"
                                            aria-selected="true">上证指数
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="szzs-tab" data-toggle="tab"
                                            href="#szzs" role="tab" aria-controls="szzs"
                                            aria-selected="false">深圳指数</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="cyb-tab" data-toggle="tab"
                                           href="#cyb" role="tab"
                                           aria-controls="cyb" aria-selected="false">创业板</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="kcb-tab" data-toggle="tab"
                                           href="#kcb" role="tab"
                                           aria-controls="kcb" aria-selected="false">科创板</a>
                                    </li>
                                </ul>

                                <div class="tab-content py-0 px-0">
                                    <!--第一面板-->
                                    <div class="tab-pane fade active show" id="szzsss" role="tabpanel" aria-labelledby="szzs-tab">
                                        <div class="d-flex flex-wrap justify-content-xl-between">
                                            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Start date</small>
                                                    <div class="dropdown">
                                                        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none
                                                            font-weight-medium" href="https://majestic.bootmb.com/index.html#" role="button"
                                                            id="dropdownMenuLinkA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <h5 class="mb-0 d-inline-block">26 Jul 2018</h5>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkA">
                                                            <a class="dropdown-item" href="#">12 Aug 2018</a>
                                                            <a class="dropdown-item" href="#">22 Sep 2018</a>
                                                            <a class="dropdown-item" href="#">21 Oct 2018</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Revenue</small>
                                                    <h5 class="mr-2 mb-0">$577545</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Total views</small>
                                                    <h5 class="mr-2 mb-0">9833550</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Downloads</small>
                                                    <h5 class="mr-2 mb-0">2233783</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Flagged</small>
                                                    <h5 class="mr-2 mb-0">3497843</h5>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--第二面板-->
                                    <div class="tab-pane fade" id="szzs" role="tabpanel" aria-labelledby="szzs-tab">
                                        <div class="d-flex flex-wrap justify-content-xl-between">
                                            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Start date</small>
                                                    <div class="dropdown">
                                                        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0
                                                            text-dark shadow-none font-weight-medium"
                                                            href="https://majestic.bootmb.com/index.html#" role="button"
                                                            id="dropdownMenuLinkB" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <h5 class="mb-0 d-inline-block">26 Jul 2018</h5>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkB">
                                                          <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">12 Aug 2018</a>
                                                          <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">22 Sep 2018</a>
                                                          <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">21 Oct 2018</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Downloads</small>
                                                    <h5 class="mr-2 mb-0">2233783</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                  <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                                                  <div class="d-flex flex-column justify-content-around">
                                                      <small class="mb-1 text-muted">Total views</small>
                                                      <h5 class="mr-2 mb-0">9833550</h5>
                                                  </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Revenue</small>
                                                    <h5 class="mr-2 mb-0">$577545</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Flagged</small>
                                                    <h5 class="mr-2 mb-0">3497843</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--第三面板-->
                                    <div class="tab-pane fade" id="cyb" role="tabpanel" aria-labelledby="cyb-tab">
                                        <div class="d-flex flex-wrap justify-content-xl-between">
                                            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Start date</small>
                                                    <div class="dropdown">
                                                        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0
                                                            text-dark shadow-none font-weight-medium"
                                                            href="https://majestic.bootmb.com/index.html#" role="button"
                                                            id="dropdownMenuLinkC" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <h5 class="mb-0 d-inline-block">26 Jul 2018</h5>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkC">
                                                            <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">12 Aug 2018</a>
                                                            <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">22 Sep 2018</a>
                                                            <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">21 Oct 2018</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Revenue</small>
                                                    <h5 class="mr-2 mb-0">$577545</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Total views</small>
                                                    <h5 class="mr-2 mb-0">9833550</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Downloads</small>
                                                    <h5 class="mr-2 mb-0">2233783</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Flagged</small>
                                                    <h5 class="mr-2 mb-0">3497843</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--第四面板-->
                                    <div class="tab-pane fade" id="kcb" role="tabpanel" aria-labelledby="kcb-tab">
                                        <div class="d-flex flex-wrap justify-content-xl-between">
                                            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Start date</small>
                                                    <div class="dropdown">
                                                        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0
                                                            text-dark shadow-none font-weight-medium"
                                                            href="https://majestic.bootmb.com/index.html#" role="button"
                                                            id="dropdownMenuLinkD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <h5 class="mb-0 d-inline-block">26 Jul 2018</h5>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkD">
                                                            <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">12 Aug 2018</a>
                                                            <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">22 Sep 2018</a>
                                                            <a class="dropdown-item" href="https://majestic.bootmb.com/index.html#">21 Oct 2018</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Revenue</small>
                                                    <h5 class="mr-2 mb-0">$577545</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Total views</small>
                                                    <h5 class="mr-2 mb-0">9833550</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Downloads</small>
                                                    <h5 class="mr-2 mb-0">2233783</h5>
                                                </div>
                                            </div>

                                            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <small class="mb-1 text-muted">Flagged</small>
                                                    <h5 class="mr-2 mb-0">3497843</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<button type="button" class="btn btn-primary"> Primary </button>-->
                <!--<button type="button" class="btn btn-success"> Success </button>-->
                <!--<button type="button" class="btn btn-danger"> Danger </button>-->


        <!--CASH DEPOSITS-->
<!--{#                  <div class="row">#}-->
<!--{#                      <div class="col-md-7 grid-margin stretch-card">#}-->
<!--{#                      <div class="card">#}-->
<!--{#                        <div class="card-body">#}-->
        <!--{#                    <div class="chartjs-size-monitor">#}-->
        <!--{#                        <div class="chartjs-size-monitor-expand">#}-->
        <!--{#                            <div class=""></div>#}-->
        <!--{#                        </div>#}-->
        <!--{#                        <div class="chartjs-size-monitor-shrink">#}-->
        <!--{#                            <div class=""></div>#}-->
        <!--{#                        </div>#}-->
        <!--{#                    </div>#}-->
<!--{#                          <p class="card-title">Cash deposits</p>#}-->
<!--{#                          <p class="mb-4">To start a blog, think of a topic about and first brainstorm party is ways to write details</p>#}-->
<!--{#                          <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3">#}-->
        <!--{#                      <ul class="dashboard-chart-legend">#}-->
        <!--{#                          <li><span style="background-color: #ff4747 "></span>Returns</li>#}-->
        <!--{#                          <li><span style="background-color: #4d83ff "></span>Sales</li>#}-->
        <!--{#                          <li><span style="background-color: #ffc100 "></span>Loss</li>#}-->
        <!--{#                      </ul>#}-->
<!--{#                          </div>#}-->
<!--{##}-->
        <!--{#                  <canvas id="cash-deposits-chart" style="display: block; width: 706px; height: 353px;" width="706"#}-->
        <!--{#                          height="353" class="chartjs-render-monitor">#}-->
        <!--{#                  </canvas>#}-->
<!--{##}-->
        <!--{#                    canvas图表#}-->
<!--{#                          <canvas id="cash-deposits-chart"></canvas>#}-->
<!--{##}-->
<!--{#                        </div>#}-->
<!--{#                      </div>#}-->
<!--{#                    </div>#}-->

        <!--{#          Total sales#}-->
<!--{#                    <div class="col-md-5 grid-margin stretch-card">#}-->
<!--{#                      <div class="card">#}-->
<!--{#                        <div class="card-body">#}-->
<!--{##}-->
<!--{#                          <div class="chartjs-size-monitor">#}-->
<!--{#                            <div class="chartjs-size-monitor-expand">#}-->
<!--{#                              <div class=""></div>#}-->
<!--{#                            </div>#}-->
<!--{#                            <div class="chartjs-size-monitor-shrink">#}-->
<!--{#                              <div class=""></div>#}-->
<!--{#                            </div>#}-->
<!--{#                          </div>#}-->
<!--{##}-->
<!--{#                          <p class="card-title">Total sales</p>#}-->
<!--{#                          <h1>$ 28835</h1>#}-->
<!--{#                          <h4>Gross sales over the years</h4>#}-->
<!--{#                          <p class="text-muted">Today, many people rely on computers to do homework, work, and create or#}-->
<!--{#                              store useful information. Therefore, it is important#}-->
<!--{#                          </p>#}-->
<!--{##}-->
<!--{#                          <div id="total-sales-chart-legend">#}-->
        <!--{#                      <ul class="dashboard-chart-legend mb-0 mt-4">#}-->
        <!--{#                          <li><span style="background-color: rgba(47,91,191,0.77) "></span>2019</li>#}-->
        <!--{#                          <li><span style="background-color: rgba(77,131,255,0.77) "></span>2018</li>#}-->
        <!--{#                          <li><span style="background-color: rgba(77,131,255,0.43) "></span>Past years</li>#}-->
        <!--{#                      </ul>#}-->
<!--{#                          </div>#}-->
<!--{#                        </div>#}-->
<!--{##}-->
        <!--{#                <canvas id="total-sales-chart" width="541" height="270" style="display: block; width: 541px;#}-->
        <!--{#                        height: 270px;" class="chartjs-render-monitor">#}-->
        <!--{#                </canvas>#}-->
<!--{##}-->
<!--{#                        <canvas id="total-sales-chart"></canvas>#}-->
<!--{##}-->
<!--{#                      </div>#}-->
<!--{#                    </div>#}-->
<!--{#                  </div>#}-->

                <!--表格-->
                <div class="row">
                    <div class="col-md-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">
                                    <h3>统计数据</h3>
                                </p>
                                <div class="table-responsive">
                                    <div id="recent-purchases-listing_wrapper"
                                         class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6"></div>
                                            <div class="col-sm-12 col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="recent-purchases-listing"
                                                       class="table dataTable no-footer" role="grid">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="recent-purchases-listing"
                                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                                aria-label="Name: activate to sort column descending"
                                                                style="width: 185.438px;">Name
                                                            </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="recent-purchases-listing" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Status report: activate to sort column ascending"
                                                                style="width: 238.234px;">Status report
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Office: activate to sort column ascending"
                                                                style="width: 169.938px;">Office
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Price: activate to sort column ascending"
                                                                style="width: 85.3594px;">Price
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing"
                                                                rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending"
                                                                style="width: 126.359px;">Date
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Gross amount: activate to sort column ascending"
                                                                style="width: 186.422px;">Gross amount
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">Alvin Fisher</td>
                                                            <td>Ui design completed</td>
                                                            <td>East Mayra</td>
                                                            <td>$23230</td>
                                                            <td>18 Jul 2018</td>
                                                           <td>$83127</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">Betty Hunt</td>
                                                            <td>Ui design not completed</td>
                                                            <td>Lake Sandrafort</td>
                                                            <td>$571</td>
                                                            <td>25 Jun 2018</td>
                                                            <td>$78952</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">Emily Cunningham</td>
                                                            <td>support</td>
                                                            <td>Makennaton</td>
                                                            <td>$939</td>
                                                            <td>16 Jul 2018</td>
                                                            <td>$29177</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">Ernest Wade</td>
                                                            <td>Levelled up</td>
                                                            <td>West Fidelmouth</td>
                                                            <td>$484</td>
                                                            <td>08 Sep 2018</td>
                                                            <td>$50862</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">Jacob Kennedy</td>
                                                            <td>New project</td>
                                                            <td>Cletaborough</td>
                                                            <td>$314</td>
                                                            <td>12 Jul 2018</td>
                                                            <td>$34167</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">Jeremy Ortega</td>
                                                            <td>Levelled up</td>
                                                            <td>Catalinaborough</td>
                                                            <td>$790</td>
                                                            <td>06 Jan 2018</td>
                                                            <td>$2274253</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">Minnie Farmer</td>
                                                            <td>support</td>
                                                            <td>Agustinaborough</td>
                                                            <td>$30</td>
                                                            <td>30 Apr 2018</td>
                                                            <td>$44617</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">Myrtie Lambert</td>
                                                            <td>Ui design completed</td>
                                                            <td>Cassinbury</td>
                                                            <td>$36</td>
                                                            <td>05 Nov 2018</td>
                                                            <td>$36422</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5"></div>
                                            <div class="col-sm-12 col-md-7"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--包含common_top.html-->
            {% include "common/common_footer.html" %}

        </div>
    </div>
</div>

{% endblock %}



