    {#左边菜单#}
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/bigdataPageHome/">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">首页</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                       aria-controls="ui-basic">
                        <i class="mdi mdi-circle-outline menu-icon"></i>
                        <span class="menu-title">行业数据</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/ui-features/buttons.html">房地产数据</a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/ui-features/typography.html">猪肉数据</a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/ui-features/typography.html">消费数据</a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/ui-features/typography.html">大数据相关</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#cjsj" aria-expanded="false" aria-controls="cjsj">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">采集管理</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="cjsj">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/cjgl/cjdata/"> 采集数据 </a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/samples/lock-screen.html"> 第三方数据 </a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/samples/login-2.html"> 执行计划 </a></li>
                        </ul>
                    </div>
                </li>

                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" data-toggle="collapse" href="#ztk" aria-expanded="false" aria-controls="ztk">-->
                        <!--<i class="mdi mdi-comment-text menu-icon"></i>-->
                        <!--<span class="menu-title">配置管理</span>-->
                        <!--<i class="menu-arrow"></i>-->
                    <!--</a>-->

                    <!--<div class="collapse" id="ztk">-->
                        <!--<ul class="nav flex-column sub-menu">-->
                            <!--<li class="nav-item"> <a class="nav-link" href=""> 测试1 </a></li>-->
                            <!--<li class="nav-item"> <a class="nav-link" href=""> 测试2 </a></li>-->
                            <!--<li class="nav-item"> <a class="nav-link" href=""> 测试3 </a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#pzgl" aria-expanded="false" aria-controls="pzgl">
                        <i class="mdi mdi-brightness-7 menu-icon"></i>
                        <span class="menu-title">配置管理</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="pzgl">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/industryData/"> 行业数据配置</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/cjData/"> 采集数据配置</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/dsfData/"> 第三方数据配置</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/newData/"> 最新数据 </a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>