    {#            左边菜单#}
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">首页</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                       aria-controls="ui-basic">
                        <i class="mdi mdi-circle-outline menu-icon"></i>
                        <span class="menu-title">UI Elements</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/ui-features/buttons.html">Buttons</a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/ui-features/typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://majestic.bootmb.com/pages/forms/basic_elements.html">
                        <i class="mdi mdi-view-headline menu-icon"></i>
                        <span class="menu-title">Form elements</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://majestic.bootmb.com/pages/charts/chartjs.html">
                        <i class="mdi mdi-chart-pie menu-icon"></i>
                        <span class="menu-title">Charts</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://majestic.bootmb.com/pages/tables/basic-table.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Tables</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://majestic.bootmb.com/pages/icons/mdi.html">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">Icons</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">User Pages</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/samples/login.html"> Login </a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/samples/login-2.html"> Login 2 </a></li>
                            <li class="nav-item"> <a class="nav-link" href="https://majestic.bootmb.com/pages/samples/lock-screen.html"> Lockscreen </a></li>
                        </ul>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="https://majestic.bootmb.com/documentation/documentation.html">
                        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                        <span class="menu-title">Documentation</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" href="#cs" aria-expanded="false" aria-controls="cs">
                       <i class="mdi mdi-cloud-print-outline menu-icon"></i>
                       <span class="menu-title">原始库</span>
                       <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="cs">
                        <ul class="nav flex-column sub-menu">
                            <a class="nav-link" data-toggle="collapse" href="#zdcj" aria-expanded="false" aria-controls="zdcj">
                                <i class="mdi mdi-account menu-icon"></i>
                                <span class="menu-title">终端采集</span>
                                <i class="menu-arrow"></i>
                          </a>
                      </ul>
                    </div>

                    <div class="collapse show" id="zdcj">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/yskManage/zdcjManage/">终端相关采集</a></li>
{#                            <li class="nav-item"> <a class="nav-link" href=""> IMSI采集 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> MAC采集 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> 门禁采集 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> 人像采集 </a></li>#}
                        </ul>
                    </div>

                    <div class="collapse" id="cs">
                        <ul class="nav flex-column sub-menu">
                            <a class="nav-link" data-toggle="collapse" href="#rkcj" aria-expanded="false" aria-controls="rkcj">
                                <i class="mdi mdi-account menu-icon"></i>
                                <span class="menu-title">人口采集</span>
                                <i class="menu-arrow"></i>
                            </a>
                        </ul>
                    </div>

                    <div class="collapse show" id="rkcj">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="">人口相关采集</a></li>
{#                            <li class="nav-item"> <a class="nav-link" href=""> 暂住人口 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> 健康码信息 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> 出生点 </a></li>#}
                        </ul>
                    </div>

                    <div class="collapse" id="cs">
                        <ul class="nav flex-column sub-menu">
                            <a class="nav-link" data-toggle="collapse" href="#jjcj" aria-expanded="false" aria-controls="jjcj">
                                <i class="mdi mdi-account menu-icon"></i>
                                <span class="menu-title">交警采集</span>
                                <i class="menu-arrow"></i>
                            </a>
                        </ul>
                    </div>

                    <div class="collapse show" id="jjcj">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="">交警相关采集</a></li>
{#                            <li class="nav-item"> <a class="nav-link" href=""> 驾驶员变更信息 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> 1 </a></li>#}
{#                            <li class="nav-item"> <a class="nav-link" href=""> 2 </a></li>#}
                      </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ztk" aria-expanded="false" aria-controls="ztk">
                        <i class="mdi mdi-comment-text menu-icon"></i>
                        <span class="menu-title">主题库</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="ztk">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href=""> 测试1 </a></li>
                            <li class="nav-item"> <a class="nav-link" href=""> 测试2 </a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#xtpz" aria-expanded="false" aria-controls="xtpz">
                        <i class="mdi mdi-brightness-7 menu-icon"></i>
                        <span class="menu-title">系统配置</span>
                        <i class="menu-arrow"></i>
                    </a>

                    <div class="collapse" id="xtpz">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/ipDatabase/">ip设置</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/solrDatabase/">solr设置</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/configmanage/kafkaDatabase/">kafka设置</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>